
.header{
    border-bottom: 5px solid #222;
    margin-bottom: 3rem;
    background-color: #485369;
    width: 100vw;

}

.div_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
  }

.div_logo{
    font-size: 1.75rem;
    font-weight: bold;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.div_buttons{
    display: flex;
}

button {
    padding: 8px 12px;
    margin: 25px;
    background: transparent;
    border: 2px solid #eee;
    color: #eee;
    width: 100px;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
  }

  button:hover {
    background: #eee;
    color: #222;
  }